

@import "./category-style.css";
summary {
    list-style: '📁';
    font-size: 16pt;
    cursor: pointer;
    margin-left: 12px ;
}
li {
    list-style: '📃';
    font-size: 12pt;
    cursor: pointer;
}
.main-category {
    font-size: 24px;
    margin-left: 2px;
}